@import url(media.css);
.card {
   max-width: 20%;
   border-radius: 30px;
   min-width: 150px;
   margin: 1vw;
   background-color: rgba(185, 177, 177, 0.096);
   position: relative;
}

#complain{
  position: absolute;
  height: 100%;
  width: 100%;
}

#root {
   margin-top: 1vw;
   min-width: 425px;
}

.input-gap{
  margin: 0 0.5vw 0 0.5vw;
}

.flex-0{
  flex: 0 1 auto;
}

.btn-lg{
  min-width: 160px;
}

.flex-1{
  flex: 1;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
  height: 100%;
}

.card-button{
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 50px;
  left: calc(100% - 50px);
  border-radius: 50%;
  border: none;
  background: white;
  opacity: 0;
  transition: 0.5s;
}

.card-button:hover{
  background:#ffc107 ;
  opacity: 1;
  border-radius: 30%;

}
.btnImg{
  pointer-events: none;
  width: 100%;
}

.img-container:hover .card-button {
  opacity: 1;
}

.img-container {
  flex: 1;
  cursor: pointer;
  min-height: 300px;    
}

.card-modal {
  background-color: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  animation: zoom 0.3s ease-in-out;
}

.button-modal {
  display: block;
  width: 82%;
}


.modal-div {
   width: 100%;
   height: 101%;
   position: fixed;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.733);
   animation: zoom 0.3s ease-in-out;
}

.deleting {
  transform: scale(0);
  transition-duration: 1s;
}

@keyframes zoom {
   from {
      transform: scale(0);
   }
   to {
      transform: scale(1);
   }
}

@keyframes reduce {
  from {
     transform: scale(1);
  }
  to {
     transform: scale(0);
  }
}

.modal-div img {
   max-width: 80%;
   max-height: 95%;
   object-fit: cover;
}

.close-button {
   color: rgba(255, 255, 255, 0.87);
   font-size: 25px;
   position: absolute;
   top: 0;
   right: 0;
   margin: 30px;
   padding: 10px;
   cursor: pointer;
   transition: 0.2s ease-in-out;
   content: "\f002";
   font-family: FontAwesome;
   font-size: 32px;
}

.close-button:hover {
   color: #bdae82;
}

/* Кнопка выпадающего списка */
.dropbtn {
   background-color: #3498db;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
}

/* Кнопка выпадающего меню при наведении и фокусировке */
header {
   margin-bottom: 1vw;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980b9;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
   position: relative;
   display: inline-block;
   min-width: 160px;
}

.bg-complainModal {
  background-color: #ddd;
}

.check-gap{
  margin-bottom: 0.5vw;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: cadetblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;  
}

.bg-return-main{
  background-color: #ffc107;
}

.text-align-center{
  text-align: center;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
  background-color: #ddd;
  cursor: pointer;
}

.show {
  display: block;
  animation: drop 0.3s ease-in-out;
}

@keyframes drop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }


}
.card-title {
  font-weight: 700;
  font-size: 18px;
  height: 25px;
  display: block;
  overflow: hidden;
}
.card-text {
  height: 45px;
  display: block;
  overflow: hidden;
}

.shadow{
  position: relative;
}
